/* ########################################################## */
/* GLOBAL VARIABLES */
:root {
  --fg-color: #333;
  --ul-color: #dddddd;
  --bg-color: #ffffff;

  --accent-color: #00DD55;
      
  --body-font: "NotoSans", "Helvetica", "Arial", sans-serif;
  --code-font: "Hack", Consolas,  monospace;
}

body {
  background-color: var(--bg-color);
  color: var(--fg-color);
  font-family: var(--body-font);
  font-size: 16px;
  line-height: 1.5em;
  margin: 1rem 1rem;
  padding: 1rem;
}

.content {
  max-width: 36rem;
  margin: 0 auto;
}

/* LINKS */
a {
  color: var(--fg-color);
  text-decoration: underline 2px solid var(--ul-color);
  text-underline-offset: 5px;
}

a:hover {
  color: var(--fg-color);
  text-decoration: underline 2px solid var(--fg-color);
  transition: all .3s linear;
}

/* HEADERS */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.5em;
  margin-bottom: 0;
}

h1 { font-size: 1.8rem; }
h2 { font-size: 1.2rem; }
h3 { font-size: 1.0rem; }
h4 { font-size: 0.8rem; }
h5 { font-size: 0.7rem; }
h6 { font-size: 0.6rem; }

/* FOOTER */
footer {
  text-align: center;
  width: 100%
  position: relative;
  bottom: 0;
  padding-top: 1rem;
}

footer a {
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline 2px solid var(--accent-color);
}

/* MISC */

ul, li {
  margin-bottom: 0.5rem;
}

time {
  font-family: var(--code-font);
}

code {
  font-family: var(--code-font);
  border: solid 1px var(--fg-color);
}

blockquote {
  border-left: 2px solid var(--ul-color);
  margin: 1em 0;
  padding: 0.1em 2em;

/*
  padding: 0 2rem;
  margin: 0;
*/
}

hr {
  border: 1px solid var(--ul-color);
}

img {
  width: 100%;
}

img[alt=headshot] {
  width: 250px;
}

/* ################################################## */
/* NAVBAR */


.site-nav {
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.logo a {
  color: var(--fg-color);
  font-weight: normal;
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: none;
}

.logo a:hover {
  text-decoration: underline 2px solid var(--accent-color);
}

/*
.menu {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 2rem;
}

.menu a {
  text-transform: lowercase;
}

.menu a.active {
  color: var(--fg-color);
  text-decoration: none 2px var(--accent-color);
} 

.logo a.active {
  color: var(--fg-color);
  text-decoration: none 2px var(--accent-color);
}

.menu-toggle {
  display: none;
  border: none;
  background: none;
  cursor: pointer;
}
*/

/* Media query for mobile screens 
@media (max-width: 768px) {
    .site-nav, .menu {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 0;
      margin: 0;
    }

    .logo {
      align-self: flex-start;
      padding: 0;
      margin: 0;
    }

    .menu {
      display: none;
      flex-direction: column;
      width: 100%;
      gap: 0;
    }

    .menu a {
      text-align: right;
    }

    .menu-toggle {
      font-size: 1.5rem;
      display: flex;
      cursor: pointer;  
      align-self: flex-end;   
      position: absolute;
      color: var(--mg-color);
    }

    .site-nav.expanded .menu {
      display: flex;
    }
} 
*/

/* ################################################### */
/* LISTS (MAINLY THE BLOG LIST) */

ul.blog-list {
  list-style-type: none;
  display: flex;
  font-size: 1.2em;
  margin: 1rem 0;
  padding: 0;
}

ul.blog-list li {
  display: flex;
  align-items: flex-start;
}

/*
ul.blog-list a {
  text-decoration: none;
}*/

ul.blog-list time {
  font-size: 0.8em;
}

ul.blog-list span {
  flex: 0 0 9rem;
  /*flex: 0 2 9rem;*/
}  

/* #################################################### */
/* Hack Font */
@font-face {
  font-family: Hack;
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/Hack-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Hack;
  font-style: normal;
  font-weight: bold;
  src: url("/fonts/Hack-Bold.ttf") format("truetype");
}

@font-face {
  font-family: Hack;
  font-style: italic;
  font-weight: normal;
  src: url("/fonts/Hack-Italic.ttf") format("truetype");
}

@font-face {
  font-family: Hack;
  font-style: italic;
  font-weight: bold;
  src: url("/fonts/Hack-BoldItalic.ttf") format("truetype");
}

/* NotoSans Font */
@font-face {
  font-family: "NotoSans";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/NotoSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "NotoSans";
  font-style: normal;
  font-weight: bold;
  src: url("/fonts/NotoSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "NotoSans";
  font-style: italic;
  font-weight: normal;
  src: url("/fonts/NotoSans-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "NotoSans";
  font-style: italic;
  font-weight: bold;
  src: url("/fonts/NotoSans-BoldItalic.ttf") format("truetype");
}
