</main>
<footer>
  <div class="main-links">
    <a href="/">Home</a> :: <a href="/notes">Notes</a> :: <a href="https://blakeruprecht.substack.com/">Blog</a>
  </div>
  <div class="social-links">
    <a href="mailto:blakecruprecht@gmail.com" title="Email"><i class="fas fa-envelope"></i></a>
    <a href="https://github.com/BlakeRuprecht" title="GitHub"><i class="fab fa-github"></i></a>
    <a href="https://linkedin.com/in/BlakeRuprecht" title="LinkedIn"><i class="fab fa-linkedin"></i></a>
    <a href="https://instagram.com/BlakeRuprecht" title="Instagram"><i class="fab fa-instagram"></i></a>
  </div>
  <div class="subscribe">
    {{ partial "substack.html" . }}
  </div>
</footer>
</body>
</html>