<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8" />
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>{{ if not .IsHome }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">

  <meta name="description" content="{{ $.Param "description" }}">

  <link rel="canonical" href="{{ .Permalink }}" />  

  <link rel="stylesheet" href="/css/style.css" type="text/css" media="all" />

  {{ with .OutputFormats.Get "rss" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}


{{ template "_internal/google_analytics.html" . }}

<!-- Google tag (gtag.js)
<script async src="https://www.googletagmanager.com/gtag/js?id=G-3TL1K0T2Y4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-3TL1K0T2Y4');
</script> -->


</head>

<body>

{{ partial "nav.html" . }}

<main class="content">
