<header class="site-header">
  
  <nav class="site-nav">
    <div class="logo">
      <li> <a href="/">{{ .Site.Title }}</a></li>
    </div>

    <!--
    <button onclick="toggleTheme()">
      <i id="theme-icon" class="fa fa-sun"></i>
    </button>
    -->

    <!--
    <button class="menu-toggle">☰</button>
    

    <ul class="menu">
      <li> <a href="/blog/">blog</a> </li>
      <li> <a href="/research/">research</a> </li>
      <li> <a href="/drawing/">drawing</a> </li>
      <li> <a href="/woodwork/">woodwork</a> </li>
    </ul>


    <script>
        document.querySelector('.menu-toggle').addEventListener('click', function() {
            document.querySelector('.site-nav').classList.toggle('expanded');
        });
    </script>
    -->    


  </nav>

</header>

<script>
document.addEventListener('DOMContentLoaded', () => {
    const currentPath = window.location.pathname;
    console.log('Current Path:', currentPath);  // Debugging line

    const menuItems = document.querySelectorAll('.menu a');
    const logo = document.querySelector('.logo a');

    // List of paths considered as the home page
    const homePaths = ['/', '/index.html', '/home.html', '/default.html'];

    // Highlight the menu item
    menuItems.forEach(item => {
        const itemPath = item.getAttribute('href');
        console.log('Checking Menu Item:', itemPath);  // Debugging line

        if (itemPath === currentPath) {
            console.log('Match Found:', itemPath);  // Debugging line
            item.classList.add('active');
        }
    });

    // Highlight the logo if on any of the home paths
    if (homePaths.includes(currentPath)) {
        console.log('Highlighting Logo for Home Page');  // Debugging line
        logo.classList.add('active');
    }
});
</script>
