<header class="site-header">
  
  <nav class="site-nav">

    <div class="logo">
      <a href="/">[{{ .Site.Title }}]</a>
    </div>

    <ul class="menu">
      {{ range.Site.Menus.main }}
      <li> <a href="{{.URL}}">{{ .Name }}</a> </li>
      {{ end }}
    </ul>

    <div class="right">
      <a href="/">[Blake Ruprecht]</a>
    </div>


    <!--
    <ul>

      <li>
        <a class="logo" href="{{.Site.BaseURL}}">
          {{ .Site.Title }}
        </a>
      </li>

      {{ range.Site.Menus.main }}
      <li>
        <a class="menu" href="{{.URL}}">{{ .Name }}</a>
      </li>
      {{ end }}

    </ul>
    -->  

  </nav>

</header>
