/* ########################################################## */
/* GLOBAL VARIABLES */
:root {
  --fg-color: #000;
  --bg-color: #fff;

  --mg-color: #777;
  --ul-color: #aaa;
  --hr-color: #ddd;
  
  --accent-color: #0a84ff;
    
  --body-font: "NotoSans", "Helvetica", "Arial", sans-serif;
  --code-font: Consolas, "Hack", monospace;
}


/* GENERAL STYLE */
body {
  background-color: var(--bg-color);
  color: var(--fg-color);
  font-family: var(--body-font);
  font-size: 16px;
  line-height: 1.5em;
  margin-top: 1rem;
  padding: 0;
}

a {
  color: var(--accent-color);
  /*box-shadow: inset 0 -.2rem 0 var(--accent-color);*/
  text-decoration: none 1px var(--ul-color);
  text-underline-offset: 4px;
}

a:hover {
  color: var(--accent-color);
  text-decoration: underline 1px var(--accent-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--body-font);
  line-height: 1.5em;
  margin-bottom: 0;
}

h1 { font-size: 2rem; }
h2 { font-size: 1.6rem; }
h3 { font-size: 1.4rem; }
h4 { font-size: 1.2rem; }
h5 { font-size: 1.0rem; }
h6 { font-size: 0.8rem; }

ul, li {
  margin-bottom: 0.5rem;
}

.content {
  max-width: 36rem;
  padding: 1rem;
  margin: 0 auto;
}

time {
  font-family: var(--code-font);
  color: var(--mg-color);
  font-style: normal;
}

code {
  font-family: var(--code-font);
  color: var(--fg-color);
  background: var(--hr-color);
}

blockquote {
  border-left: 1px solid var(--ul-color);
  padding: 0rem 1rem;
}

hr {
  border: 1px solid var(--hr-color);
}

footer {
  text-size: 18px;
  color: var(--mg-color);
  font-family: var(--body-font);
  text-align: center;
  width: 100%
  position: relative;
  bottom: 0;
  line-height: 1rem;
}

footer a {
  color: var(--mg-color);
  text-decoration: none;
}

img {
  width: 100%;
}

img + em {
  font-family: var(--code-font);
  color: var(--mg-color);
  font-style: normal;
}

img + em a {
  color: var(--mg-color);
}

/* ################################################## */
/* NAVBAR */

.site-nav {
  float: right;
  margin-top: 30px;
  margin-right: 20px;
  text-align: right;
}

.site-nav a {
  font-family: var(--body-font);
  font-size: 1rem;
  color: var(--accent-color);
  line-height: 1.5rem;
  list-style-type: none;
}

.site-nav a:hover {
  color: var(--accent-color);
}

.logo {
  margin: 0 20px;
}

.logo a {
  color: var(--fg-color);
}

.menu {
  display: inlineblock;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu li {
  margin: 0 20px;
}

.right a {
  color: var(--accent-color);
  margin: 0 40px;
}

.right a:hover {
  color: var(--accent-color);
  text-decoration: underline 2px var(--accent-color);
  text-underline-offset: 4px;
}

/* ################################################### */
/* LISTS */

ul.blog-list {
  list-style-type: none;
  display: flex;
  font-size: 1.2em;
  width: 42rem;
}

ul.blog-list span {
  flex: 0 2 9rem;
}  

/* #################################################### */
/* Hack Font */
@font-face {
  font-family: Hack;
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/Hack-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Hack;
  font-style: normal;
  font-weight: bold;
  src: url("/fonts/Hack-Bold.ttf") format("truetype");
}

@font-face {
  font-family: Hack;
  font-style: italic;
  font-weight: normal;
  src: url("/fonts/Hack-Italic.ttf") format("truetype");
}

@font-face {
  font-family: Hack;
  font-style: italic;
  font-weight: bold;
  src: url("/fonts/Hack-BoldItalic.ttf") format("truetype");
}

/* SourceSerif Font */
@font-face {
  font-family: "SourceSerif";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/SourceSerif4-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "SourceSerif";
  font-style: normal;
  font-weight: bold;
  src: url("/fonts/SourceSerif4-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "SourceSerif";
  font-style: italic;
  font-weight: normal;
  src: url("/fonts/SourceSerif4-It.ttf") format("truetype");
}

@font-face {
  font-family: "SourceSerif";
  font-style: italic;
  font-weight: bold;
  src: url("/fonts/SourceSerif4-BoldIt.ttf") format("truetype");
}

/* NotoSans Font */
@font-face {
  font-family: "NotoSans";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/NotoSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "NotoSans";
  font-style: normal;
  font-weight: bold;
  src: url("/fonts/NotoSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "NotoSans";
  font-style: italic;
  font-weight: normal;
  src: url("/fonts/NotoSans-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "NotoSans";
  font-style: italic;
  font-weight: bold;
  src: url("/fonts/NotoSans-BoldItalic.ttf") format("truetype");
}
