/* ########################################################## */
/* GLOBAL VARIABLES */
:root {
  /* Light Mode Colors */
  --fg-color: #333;      /* Text color */
  --bg-color: #fff;      /* Background color */
  --mg-color: #777;   /* Miscellaneous color (default) */
  --ul-color: #e2e2e2;   /* Underline color */
  --link-color: #36c;

  /* Dark Mode Colors */
  --dark-fg-color: #ccc; /* Text color for dark mode */
  --dark-bg-color: #000; /* Background color for dark mode */
  --dark-mg-color: #999;  /* Miscellaneous color for dark mode */
  --dark-ul-color: #666;  /* Underline color for dark mode */
  --dark-link-color: #69f;

  /* Fonts */
  --font-serif: "Times New Roman", serif;
  --font-sans: "NotoSans", "Helvetica", sans-serif;
  --font-mono: "Hack", mono;
}

/* BODY */
body {
  background-color: var(--bg-color);
  color: var(--fg-color);
  font-family: var(--font-sans);
  font-size: 16px;
  line-height: 1.5;
  margin: 1rem;
  padding: 1rem;
}

.content {
  max-width: 38rem;
  margin: 0 auto;
}

body.dark-mode {
  --fg-color: var(--dark-fg-color);
  --bg-color: var(--dark-bg-color);
  --mg-color: var(--dark-mg-color);
  --ul-color: var(--dark-ul-color);
  --link-color: var(--dark-link-color);
}

/* LINKS */
a {
  color: var(--link-color);
  text-decoration: none;
  border-bottom: none 2px var(--ul-color); /* Using the same variable */
}

a:hover {
  color: var(--link-color);
  text-decoration: underline;
  border-bottom: none 2px var(--fg-color); /* Color shifts to fg-color on hover */
}

/* HEADERS */
h1 {
  font-weight: bold;
  margin: 1em 0;
  font-size: 2rem;
  line-height: 1.5em;
}

h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h2 { font-size: 1.4rem; }
h3 { font-size: 1.3rem; }
h4 { font-size: 1.2rem; }
h5, h6 { font-size: 1rem; }


/* FOOTER */
footer {
  text-align: center;
  width: 100%;
  position: relative;
  bottom: 0;
  padding-top: 1rem;
  color: var(--mg-color);
}

footer a {
  font-family: var(--font-sans);
  color: var(--mg-color);
  text-decoration: none;
}

footer a:hover {
  color: var(--fg-color);
}


/* MISC */

ul, li {
  margin-bottom: 0.5rem;
}

time {
  color: var(--mg-color);
}

code {
  font-family: var(--font-mono);
  border: dashed 1px var(--fg-color);
}

blockquote {
  border-left: 1px solid var(--fg-color);
  margin: 0;
  padding: 0 1em;
}

hr {
  border: 1px solid var(--mg-color);
}

img {
  width: 100%;
}

img[alt=headshot] {
  width: 250px;
}

/* ################################################## */
/* NAVBAR */

.site-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem;
}

.logo {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
}

.logo a {
  font-family: var(--font-sans);
  color: var(--fg-color);
  font-variant: small-caps;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  border-bottom: none;
}

.logo a:hover {
  color: var(--fg-color);
}

.menu-container {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.menu {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu a {
  font-family: var(--font-sans);
  font-size: 1em;
  color: var(--mg-color);
  text-decoration: none;
  border-bottom: none;
}

.menu a:hover {
  color: var(--fg-color);
}

.toggle-theme {
  display: flex;
  align-items: center;
  color: var(--mg-color);
  border: none;
  background: none;
  cursor: pointer;
}

.toggle-theme:hover,
.toggle-theme:focus {
  color: var(--fg-color); /* Change color on hover/focus */
}

.menu-toggle {
  color: var(--mg-color);
  display: none;
  border: none;
  background: none;
  cursor: pointer;
}

/* Media query for mobile screens */ 
@media (max-width: 768px) {
    .site-nav {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 0;
      margin: 0;
    }

    .logo {
      align-self: flex-start;
      padding: 0;
      margin: 0;
    }

    .menu-container {
    }

    .menu {
      display: none;
      flex-direction: column;
      width: 100%;
      gap: 0;
      text-align: right;
    }

    .menu a {
      text-align: left;
    }

    .menu-toggle {
      font-size: 1.5rem;
      display: flex;
      cursor: pointer;  
      align-self: flex-end;   
      position: absolute;
      color: var(--mg-color);
    }

    .site-nav.expanded .menu {
      display: flex;
      align-items: left;
    }
} 


/* ################################################### */
/* LISTS (MAINLY THE BLOG LIST) */

ul.blog-list {
  list-style-type: none;
  display: flex;
  font-size: 1.2em;
  margin: 1rem 0;
  padding: 0;
}

ul.blog-list li {
  display: flex;
  align-items: flex-start;
}

ul.blog-list span {
  flex: 0 0 9rem;
  /*flex: 0 2 9rem;*/
}  

/* #################################################### */
/* Hack Font */
@font-face {
  font-family: Hack;
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/Hack-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Hack;
  font-style: normal;
  font-weight: bold;
  src: url("/fonts/Hack-Bold.ttf") format("truetype");
}

@font-face {
  font-family: Hack;
  font-style: italic;
  font-weight: normal;
  src: url("/fonts/Hack-Italic.ttf") format("truetype");
}

@font-face {
  font-family: Hack;
  font-style: italic;
  font-weight: bold;
  src: url("/fonts/Hack-BoldItalic.ttf") format("truetype");
}

/* NotoSans Font */
@font-face {
  font-family: "NotoSans";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/NotoSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "NotoSans";
  font-style: normal;
  font-weight: bold;
  src: url("/fonts/NotoSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "NotoSans";
  font-style: italic;
  font-weight: normal;
  src: url("/fonts/NotoSans-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "NotoSans";
  font-style: italic;
  font-weight: bold;
  src: url("/fonts/NotoSans-BoldItalic.ttf") format("truetype");
}
