{{ partial "header.html" . }}
{{ partial "mathjax.html" . }}

<article>
    <header>
        <h1>{{ .Title }}</h1>
    </header>

    {{ if and (ne .Params.toc false) (ne .Site.Params.blog.toc false) }}
        <aside class="toc">
            {{ .TableOfContents }}
        </aside>
    {{ end }}

    <div class="post-content">
        {{ .Content | replaceRE "\\[\\[([^/]+)\\]\\]" "<a href=\"${1}.html\">$1</a>" | safeHTML }}
    </div>
</article>


{{ partial "backlinks.html" . }}

{{ partial "footer.html" . }}