{{ partial "header.html" . }}
  
<script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/3.2.0/es5/tex-mml-chtml.js">
</script>
<script type="text/javascript">
  window.MathJax = {
    tex: {
      inlineMath: [['$', '$']],
      displayMath: [['$$', '$$']],
      processEscapes: true
    }
  };
</script>

<h1><a href="/">blake</a>: <strong>{{ .Title }}</strong></h1>

<span>
	{{ range .Param "authors" }}
		{{ . }}
	{{ end }}
</span>

{{ .Content | replaceRE "\\[\\[([^/]+)\\]\\]" "<a href=\"${1}.html\">$1</a>" |safeHTML }}

{{ partial "footer.html" . }}
